---

mgmt_hostname: "{{ ansible_local.citc.mgmt_hostname }}"

users: []

# From https://www.schedmd.com/downloads.php
slurm_version: 20.02

slurm_cluster_name: cluster
slurm_control_machine: "{{ mgmt_hostname }}"

slurm_partitions:
  - name: compute
    nodelist: ALL
    default: YES

filesystem_target_address: fileserver
filesystem_mount_point: /shared

ansible_pull_repo: https://github.com/clusterinthecloud/ansible.git

software_install_dir: /mnt/{{ filesystem_mount_point }}

admin_key_path: /root/citc_authorized_keys
