---

mgmt_hostname: "{{ ansible_local.citc.mgmt_hostname }}"

# From https://www.schedmd.com/downloads.php
slurm_version: 20.02

slurm_control_machine: "{{ mgmt_hostname }}"

slurm_partitions:
  - name: compute
    nodelist: ALL
    default: "YES"

filesystem_target_address: fileserver
filesystem_mount_point: /shared

admin_key_path: /root/citc_authorized_keys
