---

slurm_accounting_db_password: "{{ lookup('password', '/tmp/slurmpasswordfile chars=ascii_letters,digits,hexdigits') }}"

slurm_packages:
  - slurmctld
  - slurmdbd
  - pmi

slurm_role: mgmt

slurm_elastic:
  oracle:
    config_directory: /home/slurm/.oci/

install_packages:
  - xorg-x11-xauth
  - openmpi-devel
  - python3-devel
  - "@Development Tools"
  - vim

mpi_packages:
  oracle:
    - openmpi-devel
    - mpich-devel
  google:
    - openmpi-devel
    - mpich-devel
  aws: []

monitoring_role: master
grafana_admin_password: "{{ lookup('password', '/tmp/grafanapasswordfile chars=ascii_letters,digits,hexdigits') }}"
ldap_dm_password: "{{ lookup('password', '/etc/citc/ldapdmpasswordfile chars=ascii_letters,digits') }}"

bootstrap_ansible_pull_playbook: compute.yml

ldap_hostname: "{{ ansible_nodename }}"
