[DEFAULT]
user={{ slurm_elastic.oracle.user_ocid }}
fingerprint={{ slurm_elastic.oracle.fingerprint }}
key_file={{ slurm_elastic.oracle.config_directory }}/oci_api_key.pem
tenancy={{ slurm_elastic.oracle.tenancy_ocid }}
region={{ slurm_elastic.oracle.region }}
