ClusterName={{ slurm_cluster_name }}
ControlMachine={{ slurm_control_machine }}

SlurmUser=slurm
SlurmctldPort=6817
SlurmdPort=6818
AuthType=auth/munge
StateSaveLocation=/var/spool/slurm
ProctrackType=proctrack/cgroup
#Prolog=
#Epilog=
#SrunProlog=
#SrunEpilog=
#TaskProlog=
#TaskEpilog=
TaskPlugin=task/cgroup
#UsePAM=

# TIMERS
SlurmctldTimeout=300
SlurmdTimeout=300
MinJobAge=300

# SCHEDULING
SchedulerType=sched/backfill
#SchedulerAuth=
SelectType=select/cons_res
SelectTypeParameters=CR_CPU_Memory

# LOGGING
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

# ACCOUNTING
JobAcctGatherType=jobacct_gather/cgroup
JobAcctGatherFrequency=30

AccountingStorageType=accounting_storage/slurmdbd

# ELASTIC
ResumeProgram=/usr/local/bin/startnode
SuspendProgram=/usr/local/bin/stopnode
SuspendTime=3600
ResumeTimeout=600
SuspendTimeout=60

# MPI
MpiDefault=pmi2

{% if slurm_gres_types is defined and slurm_gres_types %}
# GRES
GresTypes={{ slurm_gres_types }}
{% endif %}

# Plugins
#JobSubmitPlugins=python

# COMPUTE NODES
{% for nodename, shape in slurm_compute_nodelists.items() %}
NodeName={{ nodename }} State={{ shape.state | default("UNKNOWN") }} SocketsPerBoard={{ shape.sockets }} CoresPerSocket={{ shape.cores_per_socket }} ThreadsPerCore={{ shape.threads_per_core }} RealMemory={{ shape.memory }}{{ " Gres="+shape.gres if shape.gres is defined else " " }}
{% endfor %}
{% for partition in slurm_partitions %}
PartitionName={{ partition.name }} Nodes={{ partition.nodelist }} MaxTime=INFINITE State=UP Default={{ partition.default | default("NO") }} OverSubscribe={{ partition.oversubscribe | default("NO") }}
{% endfor %}
