#! /bin/bash
set -euo pipefail
IFS=$'\n\t'

LOGFILE=/home/slurm/elastic.log

hosts=$(scontrol show hostnames $1)
for host in ${hosts}
do
  echo "$(date): Stopping ${host}" &>> ${LOGFILE}
  instance_id=$(/opt/oci/bin/oci compute instance list --compartment-id="{{ compartment_ocid }}" --display-name=${host} | jq --raw-output '.data[] | select(."lifecycle-state" != "TERMINATED") | .id')
  if /opt/oci/bin/oci compute instance terminate --force --instance-id="${instance_id}" ; then
    echo "$(date):   Stopped ${host}" &>> ${LOGFILE}
  else
    echo "$(date):   Failed to stop ${host}" &>> ${LOGFILE}
  fi
done
