---

- name: Wait for packer to finish
  async_status:
    jid: "{{ packer_result.ansible_job_id }}"
  register: packer_job_result
  until: packer_job_result.finished
  retries: 200
  delay: 10
  tags: packer

- name: create directory for the finalised files
  file:
    path: /mnt/shared/finalised
    state: directory
    mode: 0755

- name: create the finalised file
  file:
    path: /mnt/shared/finalised/{{ ansible_hostname }}
    state: touch
    mode: 0777
