#! /bin/bash
set -euo pipefail
IFS=$'\n\t'

if [[ $# -ne 4 ]]; then
    echo "Call with:"
    echo "    ${0} <user name> <first name> <surname> <ssh key URL>"
    exit 1
fi

ADMINNAME="cn=Directory Manager"
ADMINPASSWORD={{ ldap_dm_password }}
export LDAPTLS_CACERT=/etc/pki/ca-trust/source/anchors/389-ds-cert.crt

USER=${1}
SSHKEYS=${4}
GIDNUMBER=100
GIVENNAME=${2}
SURNAME=${3}

HOMEROOT=/mnt/shared/home

PASSWORD=$(openssl rand -base64 30)
SHA1="$(python3 - <<EOF
import ldap3
print(ldap3.utils.hashed.hashed(ldap3.HASHED_SALTED_SHA512, "${PASSWORD}"))
EOF
)"

BASEDN="ou=People,dc=citc,dc=acrc,dc=bristol,dc=ac,dc=uk"

if ldapsearch -D "${ADMINNAME}" -w "${ADMINPASSWORD}" -x -ZZ -H ldap://{{ ldap_hostname }} -b "${BASEDN}" -LLL '(objectclass=posixAccount)' uidNumber | grep uidNumber
then
    UIDNUMBER=$(ldapsearch -D "${ADMINNAME}" -w "${ADMINPASSWORD}" -x -ZZ -H ldap://{{ ldap_hostname }} -b "${BASEDN}" -LLL '(objectclass=posixAccount)' uidNumber | grep uidNumber | awk '{print $2}' | sort -n | tail -n1 | awk '{print $1+1}')
else
    UIDNUMBER=10001
fi

ldapmodify -D "${ADMINNAME}" -w "${ADMINPASSWORD}" -ZZ -H ldap://{{ ldap_hostname }} <<EOF
dn: cn=${USER},${BASEDN}
changetype: add
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: inetOrgPerson
objectclass: posixAccount
cn: ${USER}
givenName: ${GIVENNAME}
sn: ${SURNAME}
uid: ${USER}
uidNumber: ${UIDNUMBER}
gidNumber: ${GIDNUMBER}
homeDirectory: ${HOMEROOT}/${USER}
loginShell: /bin/bash
userPassword: ${SHA1}
EOF

/usr/local/libexec/create_home_dir ${USER}

curl --silent ${SSHKEYS} | /usr/local/libexec/set_ssh_key ${USER}

echo "${PASSWORD}" | /usr/local/libexec/set_password_file ${USER}

/usr/local/libexec/add_user_to_distrac_group ${USER}
