#! /bin/bash
set -euo pipefail
IFS=$'\n\t'

if [[ $# -ne 4 ]]; then
    echo "Call with:"
    echo "    ${0} <user name> <first name> <surname> <ssh key URL>"
    exit 1
fi

ADMINNAME="cn=Directory Manager"
ADMINPASSWORD={{ ldap_dm_password }}

USER=${1}
SSHKEYS=${4}
GIDNUMBER=100
GIVENNAME=${2}
SURNAME=${3}

HOMEROOT=/mnt/shared/home

PASSWORD=$(openssl rand -base64 30)
SALT="$(openssl rand -base64 3)"
SHA1="$(printf "%s%s" "$PASSWORD" "$SALT" | openssl dgst -binary -sha1)"
SHA1="$(printf "{SSHA}%s\n" "$(printf "%s%s" "$SHA1" "$SALT" | base64)")"

BASEDN="ou=People,dc=citc,dc=acrc,dc=bristol,dc=ac,dc=uk"

if ldapsearch -x -H ldap://localhost -b "${BASEDN}" -LLL '(objectclass=posixAccount)' uidNumber | grep uidNumber
then
    UIDNUMBER=$(ldapsearch -x -H ldap://localhost -b "${BASEDN}" -LLL '(objectclass=posixAccount)' uidNumber | grep uidNumber | awk '{print $2}' | sort -n | tail -n1 | awk '{print $1+1}')
else
    UIDNUMBER=10001
fi

ldapmodify -D "${ADMINNAME}" -w "${ADMINPASSWORD}" -H ldap://localhost:389 <<EOF
dn: cn=${USER},${BASEDN}
changetype: add
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: inetOrgPerson
objectclass: posixAccount
cn: ${USER}
givenName: ${GIVENNAME}
sn: ${SURNAME}
uid: ${USER}
uidNumber: ${UIDNUMBER}
gidNumber: ${GIDNUMBER}
homeDirectory: ${HOMEROOT}/${USER}
loginShell: /bin/bash
userPassword: {SSHA}${SHA1}
EOF

/usr/local/libexec/create_home_dir ${USER}

curl --silent ${SSHKEYS} | /usr/local/libexec/set_ssh_key ${USER}

echo "${PASSWORD}" | /usr/local/libexec/set_password_file
