{
    "source_image_family": "centos-8",
    "ca_cert": "{{ ca_cert }}",
    "arch": "x86_64",

    "destination_image_name": "citc-slurm-compute",
    "destination_image_family": "citc-slurm-compute",
    "network": "{%- if startnode_config.network_name is defined -%}{{ startnode_config.network_name }}{%- endif -%}",
    "subnetwork": "{%- if startnode_config.subnet_name is defined -%}{{ startnode_config.subnet_name }}{%- endif -%}",

    "project_id": "{%- if startnode_config.compartment_id is defined -%}{{ startnode_config.compartment_id }}{%- endif -%}",
    "zone": "{%- if startnode_config.zone is defined -%}{{ startnode_config.zone }}{%- endif -%}",
    "region": "{%- if startnode_config.region is defined -%}{{ startnode_config.region }}{%- endif -%}",
    "availability_domain": "{%- if startnode_config.ad_root is defined -%}{{ startnode_config.ad_root }}1{%- endif -%}",
    "cluster": "{{ startnode_config.cluster_id }}",

    "base_image_ocid": "{%- if startnode_config.mgmt_image_id is defined -%}{{ startnode_config.mgmt_image_id }}{%- endif -%}",
    "base_image_ocid_gpu": "{%- if oci_gpu_image_id is defined -%}{{ oci_gpu_image_id }}{%- endif -%}",
    "compartment_ocid": "{%- if startnode_config.compartment_id is defined -%}{{ startnode_config.compartment_id }}{%- endif -%}",
    "subnet_ocid": "{%- if startnode_config.subnet_id is defined -%}{{ startnode_config.subnet_id }}{%- endif -%}",
    "instance_type": "t2.nano",
    "shape": "VM.Standard2.1",
    "shape_gpu": "VM.GPU2.1",
    "access_cfg_file": "/home/slurm/.oci/config",
    "key_file": "/home/slurm/.oci/oci_api_key.pem"
}
