{
    "source_image_family": "centos-7",

    "destination_image_name": "citc-slurm-compute",
    "destination_image_family": "citc-slurm-compute",
    "network": "citc-net",
    "subnetwork": "{%- if startnode_config.subnet_id is defined -%}{{ startnode_config.subnet_id }}{%- else -%}citc-subnet{%- endif -%}",

    "project_id": "{%- if startnode_config.compartment_id is defined -%}{{ startnode_config.compartment_id }}{%- endif -%}",
    "zone": "{%- if startnode_config.zone is defined -%}{{ startnode_config.zone }}{%- endif -%}",
    "region": "{%- if startnode_config.region is defined -%}{{ startnode_config.region }}{%- endif -%}",
    "availability_domain": "{{ startnode_config.ad_root }}1",
    "cluster": "{{ startnode_config.cluster_id }}",

    "base_image_ocid": "{%- if oci_non_gpu_image_id is defined -%}{{ oci_non_gpu_image_id }}{%- endif -%}",
    "instance_type": "t2.nano",
    "shape": "VM.Standard2.1",
    "access_cfg_file": "/home/slurm/.oci/config",
    "key_file": "/home/slurm/.oci/oci_api_key.pem"
}
