{
    "source_image_family": "centos-7",
    
    "destination_image_name": "citc-slurm-compute",
    "destination_image_family": "citc-slurm-compute",
    "network": "citc-net",
    "project_id": "ex-eccoe-university-bristol",
    "zone": "europe-west2-c",
    "region": "europe-west2",
    "csp": "google",
    "fileserver_ip": "10.71.237.82",
    "subnetwork": "citc-subnet"
    "branch": "google_packer"
    "petname": "rested-koala"
}