#! /bin/bash
set -euo pipefail

# This script runs on the packer node to set things up, ready to have Ansible connect to it.

sudo dnf install -y glibc-langpack-en.x86_64
sudo localectl set-locale en_GB.utf8
sudo localectl set-keymap gb

{% if ansible_local.citc.csp == "google" %}
sudo yum install -y epel-release
sudo dnf config-manager --set-enabled powertools
{% elif ansible_local.citc.csp == "openstack" %}
sudo yum install -y epel-release
sudo dnf config-manager --set-enabled powertools
# TODO this should point to the eventual fileserver
sudo bash -c 'cat > /etc/hosts' << EOF
{{ ansible_default_ipv4.address }} mgmt fileserver
EOF
{% elif ansible_local.citc.csp == "aws" %}
sudo yum install -y epel-release
sudo dnf config-manager --set-enabled powertools
sudo dnf install -y kernel-devel-$(uname -r) kernel-headers-$(uname -r)  # For Nvidia drivers, TODO move into docs for that feature
{% elif ansible_local.citc.csp == "oracle" %}
sudo dnf install -y oracle-epel-release-el8
sudo dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
sudo dnf config-manager --set-enabled ol8_codeready_builder
{% endif %}
sudo mkdir -p /etc/ansible/facts.d/
echo 'packer' | sudo -S sh -c '
cat > /etc/ansible/facts.d/citc.fact <<EOF
{"csp":"{{ ansible_local.citc.csp }}", "fileserver_ip":"{{ ansible_local.citc.fileserver_ip }}", "mgmt_hostname":"{{ mgmt_hostname }}", "ldap_hostname":"{{ ldap_hostname }}", "ldap_dm_password":"{{ ldap_dm_password }}", "cluster_id":"{{ ansible_local.citc.cluster_id }}" }
EOF'
sudo chmod u=rw,g=,o= /etc/ansible/facts.d/citc.fact
{% if ansible_local.citc.csp == "openstack" %}
echo 'packer' | sudo -S sh -c '
cat > /etc/ansible/facts.d/citc_ceph.fact <<EOF
{"secret":"{{ ansible_local.citc_ceph.secret }}" }
EOF'
sudo chmod u=rw,g=,o= /etc/ansible/facts.d/citc.fact
{% endif %}
sudo mv /tmp/citc_authorized_keys /root/citc_authorized_keys
