#!/bin/bash

# {{ ansible_managed }}

export AWS_SHARED_CREDENTIALS_FILE="/home/slurm/aws-credentials.csv"

/usr/local/bin/packer build \
    -var-file /etc/citc/packer/config.json \
    -var account_file=/home/slurm/mgmt-sa-credentials.json \
    -only={{ ansible_local.citc.csp }} \
    /etc/citc/packer/packer-build.json

{% if ansible_local.citc.csp == "oracle" %}
if [[ "$1" == "gpu" ]] ; then
    /usr/local/bin/packer build \
        -var-file /etc/citc/packer/config.json \
        -var account_file=/home/slurm/mgmt-sa-credentials.json \
        -only={{ ansible_local.citc.csp }}-gpu \
        /etc/citc/packer/packer-build.json
fi
{% endif %}

if [[ "$1" == "aarch64" ]] ; then
    /usr/local/bin/packer build \
        -var-file /etc/citc/packer/config.json \
        -var account_file=/home/slurm/mgmt-sa-credentials.json \
        -var arch=arm64 \
        -var instance_type=a1.medium \
        -only={{ ansible_local.citc.csp }} \
        /etc/citc/packer/packer-build.json
fi
