#!/bin/bash

git clone git@github.com:ACRC/slurm-ansible-playbook.git /tmp/slurm-ansible-playbook

/usr/local/bin/packer build \
	-var-file /etc/citc/packer/config.json \
	/etc/citc/packer/build.json
