#! /bin/bash

echo 'packer' | sudo -S sh -c '
cat > /tmp/hosts <<EOF
[compute]
$(hostname)
[all:vars]
cluster_id={{ startnode_config.cluster_id }}
packer_run=yes
EOF'
{% if ansible_local.citc.csp in ["aws", "google"] %}
sudo yum install -y epel-release
sudo dnf config-manager --set-enabled PowerTools
{% endif %}
sudo dnf install -y ansible git
sudo cat /tmp/hosts
sudo mkdir -p /etc/ansible/facts.d/
echo 'packer' | sudo -S sh -c '
cat > /etc/ansible/facts.d/citc.fact <<EOF
{"csp":"{{ ansible_local.citc.csp }}", "fileserver_ip":"{{ ansible_local.citc.fileserver_ip }}", "mgmt_hostname":"{{ mgmt_hostname }}", "ldap_dm_password":"{{ ldap_dm_password }}" }
EOF'
sudo chmod u=rw,g=,o= /etc/ansible/facts.d/citc.fact
sudo cat /etc/ansible/facts.d/citc.fact
sudo mv /tmp/citc_authorized_keys /root/citc_authorized_keys
sudo /usr/bin/ansible-pull --url={{ ansible_pull_repo }} --checkout={{ startnode_config.ansible_branch }} --inventory=/tmp/hosts compute.yml
