ca_cert = "{{ ca_cert }}"
cluster = "{{ startnode_config.cluster_id }}"
destination_image_name = "citc-slurm-compute"
ssh_username = "{%- if ansible_local.citc.csp in ["google"] -%}centos{%- elif ansible_local.citc.csp in ["aws"] -%}rocky{%- else -%}opc{%- endif -%}"

aws_arch = "x86_64"
aws_region = "{%- if startnode_config.region is defined -%}{{ startnode_config.region }}{%- endif -%}"
aws_instance_type = "t2.micro"

google_destination_image_family = "citc-slurm-compute"
google_network = "{%- if startnode_config.network_name is defined -%}{{ startnode_config.network_name }}{%- endif -%}"
google_source_image_family = "centos-8"
google_subnetwork = "{%- if startnode_config.subnet_name is defined -%}{{ startnode_config.subnet_name }}{%- endif -%}"
google_project_id = "{%- if startnode_config.compartment_id is defined -%}{{ startnode_config.compartment_id }}{%- endif -%}"
google_zone = "{%- if startnode_config.zone is defined -%}{{ startnode_config.zone }}{%- endif -%}"
google_account_file = "/home/slurm/mgmt-sa-credentials.json"

oracle_availability_domain = "{%- if startnode_config.ad_root is defined -%}{{ startnode_config.ad_root }}1{%- endif -%}"
oracle_base_image_ocid = "{%- if startnode_config.mgmt_image_id is defined -%}{{ startnode_config.mgmt_image_id }}{%- endif -%}"
oracle_compartment_ocid = "{%- if startnode_config.compartment_id is defined -%}{{ startnode_config.compartment_id }}{%- endif -%}"
oracle_subnet_ocid = "{%- if startnode_config.subnet_id is defined -%}{{ startnode_config.subnet_id }}{%- endif -%}"
oracle_shape = "VM.Standard2.1"
oracle_access_cfg_file = "/home/slurm/.oci/config"
oracle_key_file = "/home/slurm/.oci/oci_api_key.pem"
