---

- name: install PyMySQL
  package:
    name: python3-PyMySQL

- name: install mariadb module
  package:
    name: "@mariadb"

- name: install mariadb
  yum:
    name:
      - mariadb-server
      - mariadb-devel
    state: installed

- name: start service mariadb
  service:
    name: mariadb
    state: started
    enabled: yes
