---
- name: Prepare - create local facts
  hosts: all
  roles:
    - python
  tasks:
    - name: make ansible config dir
      file:
        path: /etc/ansible
        state: directory
        mode: a=rw,o+x
    - name: make ansible facts dir
      file:
        path: /etc/ansible/facts.d
        state: directory
        mode: a=rw,o+x
    - name: create local citc.fact file  # Put there by Terraform usually
      copy:
        content: |
          {"csp":"example", "fileserver_ip":"10.0.0.1", "mgmt_hostname":"mgmt"}
        dest: /etc/ansible/facts.d/citc.fact
        mode: u=rw,g=r,o=r
    - name: collect facts
      setup:
        filter: "*"

- name: Prepare - run users role
  hosts: all
  tasks:
    - name: make shared mount point
      file:
        path: /mnt/{{ filesystem_mount_point }}
        state: directory
        mode: a=rw,o+x

    - include_role:
        name: users
      vars:
        ldap_dm_password: this_is_the_ldap_dm_password

- name: Prepare
  hosts: all
  roles:
    - mysql
    - get_secrets
  tasks: []
