---


- name: restart rsyslog
  service:
    name: rsyslog
    state: restarted

- name: restart telegraf
  service:
    name: telegraf
    state: restarted

- name: restart influxdb
  service:
    name: influxdb
    state: restarted

- name: restart grafana
  service:
    name: grafana-server
    state: restarted

- name: restart firewalld
  service:
    name: firewalld
    state: restarted
